---
// Props
const { pageTitle, pageDescription, currentURL, ogType, ogImage, ogImageAlt, articleAuthor } = Astro.props;
// Data Imports
import { siteData } from "@/utils/global";
---
<!-- Meta Data -->
<title>{pageTitle}</title>
<meta name="description" content={pageDescription} />
{currentURL && <link rel="canonical" href={currentURL} />}
<!-- Open Graph -->
<meta property="og:site_name" content={siteData.website} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={pageDescription} />
<meta property="og:locale" content={siteData.ogLang} />
{articleAuthor && <meta property="article:author" content={articleAuthor} />}
{currentURL && <meta property="og:url" content={currentURL} />}
<meta property="og:type" content={ogType || "article"} />
<meta property="og:image" content={ogImage} />
<meta property="og:image:secure_url" content={ogImage} />
<meta property="og:image:type" content="image/webp" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content={ogImageAlt} />
<!-- X Cards -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={pageTitle} />
<meta name="twitter:description" content={pageDescription} />
<meta name="twitter:image" content={ogImage} />
<meta name="twitter:image:alt" content={ogImageAlt} />