---
import "@/styles/global.css";
import { siteData } from "@/utils/global";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

import SEO from "@/components/SEO.astro";

import FaviconICO from "@/images/favicon/favicon.ico";
import FaviconSVG from "@/images/favicon/favicon.svg";

// Props
const { pageTitle, pageDescription, currentURL, ogType, ogImage, ogImageAlt, articleAuthor, datePublished, dateModified } = Astro.props;
---
<!doctype html>
<html lang={siteData.lang} class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={FaviconSVG.src} />
		<link rel="icon" href={FaviconICO} />
		<meta name="generator" content={Astro.generator} />
		<!-- nTiling Sitemap -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		<!-- Analytics -->
		<script defer src="https://umami.blackpearl.altkod.com/script.js" data-website-id="59053266-0618-4482-bec2-3aa5534226d4"></script>
		<!-- Preload Fonts -->
		<link
		rel="preload"
		href="/fonts/Satoshi-Variable.woff2"
		as="font"
		type="font/woff"
		crossorigin="anonymous"
		/>
		<!-- SEO -->
		<SEO
		pageTitle={pageTitle}
		pageDescription={pageDescription}
		currentURL={currentURL}
		ogType={ogType}
		ogImage={ogImage}
		ogImageAlt={ogImageAlt}
		articleAuthor={articleAuthor}
		datePublished={datePublished}
		dateModified={dateModified} />
		<slot name="head" />
		<title>{siteData.website}</title>
	</head>
	<body class="flex flex-col bg-neutral-50 min-h-screen">
		<Header />
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>